</body>
<footer>
    
        <div class="ui menu sticky downmenu1">
            <div>
                <a href="/disconnection" class="ui disconnect1">Déconnexion</a>
            </div>
            
            <div class="disconnect1"> &nbsp | &nbsp</div>
            
            <div>
                <a href="/delete_account" class="ui disconnect1" onclick="return confirm('Voulez-vous supprimer votre compte à tout jamais ?')">Supprimer son compte</a>
            </div>
        </div>
    
</footer>
    
</html>

