<!-- INCLUDE HEADER -->
<%- include('../header')%>

<!-- BUTTONS -->
<div class="hg">
    <div class="hg2">
        <div class="ui raised very padded text container segment">
            <h2 class="ui header ht2">Bienvenue à l'accueil !</h2>
            <p class="hp2">
               Lorem ipsum dolor sit amet consectetur
               adipisicing elit. Architecto nesciunt 
               ab placeat soluta est error ullam neque
               repudiandae accusantium optio, nostrum 
               ex ut quo eum numquam sint impedit 
               perferendis natus?<br>
               Lorem ipsum dolor sit amet consectetur
               adipisicing elit. Architecto nesciunt 
               ab placeat soluta est error ullam neque
               repudiandae accusantium optio, nostrum 
               ex ut quo eum numquam sint impedit 
               perferendis natus?<br>
               Lorem ipsum dolor sit amet consectetur
               adipisicing elit. Architecto nesciunt 
               ab placeat soluta est error ullam neque
               repudiandae accusantium optio, nostrum 
               ex ut quo eum numquam sint impedit 
               perferendis natus?
            </p>
            <p class="hp2">
               Lorem ipsum dolor sit amet consectetur
               adipisicing elit. Architecto nesciunt 
               ab placeat soluta est error ullam neque
               repudiandae accusantium optio, nostrum 
               ex ut quo eum numquam sint impedit 
               perferendis natus?<br>
               Lorem ipsum dolor sit amet consectetur
               adipisicing elit. Architecto nesciunt 
               ab placeat soluta est error ullam neque
               repudiandae accusantium optio, nostrum 
               ex ut quo eum numquam sint impedit 
               perferendis natus?<br>
               Lorem ipsum dolor sit amet consectetur
               adipisicing elit. Architecto nesciunt 
               ab placeat soluta est error ullam neque
               repudiandae accusantium optio, nostrum 
               ex ut quo eum numquam sint impedit 
               perferendis natus?
            </p>
        </div>
    </div>
</div>


<!-- INCLUDE FOOTER -->
<%- include('../footer')%>