<%- include('../../adminheader')%>

<h1>Administrateur connecté</h1>

<div class="divadminbutton">

    <div>
        <a href='/post'><button><i class="download icon"></i>Ajouter un article</button></a>
    </div>

    <div>
        <a href='/com'><button><i class="download icon"></i>Ajouter un commentaire</button></a>
    </div>

    <div>
        <a href='/utilisateur'><button>Table Utilisateur</button></a>
    </div>

    <div>
         <a href='/publication'><button>Table Publication</button></a>
    </div>

    <div>
        <a href='/commentaire'><button>Table Commentaire</button></a>
    </div>

</div>

<%- include('../../footer')%>