<%- include('../../useheader')%>

<h1>Administrateur connecté</h1>

<div class="ui grid admin_button">
    <div class="two wide column admin_button2">
        <a href='/post'><button class="ui button primary"><i class="download icon"></i>Ajouter un article</button></a>
    </div>
    <div class="three wide column admin_button2">
        <a href='/com'><button class="ui button primary admin_button2"><i class="download icon"></i>Ajouter un commentaire</button></a>
    </div>
    <div class="two wide column admin_button2">
        <a href='/utilisateur'><button class="ui button primary admin_button2">Table Utilisateur</button></a>
    </div class="admin_button2">
    <div class="two wide column admin_button2">
         <a href='/utilisateur'><button class="ui button primary admin_button2">Table Publication</button></a>
    </div>
    <div class="two wide column admin_button2">
        <a href='/utilisateur'><button class="ui button primary admin_button2">Table Commentaire</button></a>
    </div>
</div>

<%- include('../../footer')%>